<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card signup-container" content-tabs tabsdata='tabsdata'>
          <form name="signup_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Users">
                <div class="list">
                  <label class="item item-input">
                    <input type="email" placeholder="Email" name="user_email" ng-model="user.name" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
                  </label>
                </div>
              </my-tab>
              <my-tab title="Food Trucks">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="Email" name="truck_name" ng-model="truck.name" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Password" name="truck_password" ng-model="truck.password" required valid-pin="truck.password" show-hide-input>
                  </label>
                </div>
              </my-tab>
            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="sign-up-button button button-positive button-block" ng-click="signup()" ng-disabled="(selected_tab=='Users') ? (signup_form.user_email.$invalid || signup_form.user_password.$invalid) : ((selected_tab=='Food Trucks') ? (signup_form.truck_name.$invalid || login_form.truck_password.$invalid) : false)"">
                Sign Up
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-dark" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="sign-up button button-small button-clear button-dark" ui-sref="auth.login">
            Login
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>