<ion-view>
    <ion-nav-title>
        <span>Nearby Food Trucks</span>
    </ion-nav-title>

    <ion-content class="loading" ng-show="loadingTrucksListView">
        <ion-content>
            <ion-spinner icon="ripple"></ion-spinner>
            <h5>Loading Trucks...</h5>
        </ion-content>
    </ion-content>

    <ion-content>
        <div class="list card" ng-repeat='user in listTrucks track by $index'>

            <div class="item item-avatar listView">
                <img ng-src="{{user.truck.imgUrl}}">
                <h2 class="list-font-color">{{user.truck.truckName}}</h2>
                <p class="list-font-color">Type of Food: {{user.truck.genre}}</p>
                <p class="list-font-color">Price: {{user.truck.price}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{user.truck.imgUrl}}">
                <h2>Address of Current Location:</h2>
                <p>{{user.truck.address}}</p>
                <h2>Distance From Me:</h2>
                <p>{{user.distanceFromCurrentUser}} miles</p>
                <h2>Description:</h2> 
                <p>{{user.truck.description}}</p>
                <h2>Website:</h2> 
                <a target="_self" ng-href="{{user.truck.website}}">{{user.truck.website}}</a>
                
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-star" ng-click="toggleFavorites(user._id, user.favStatus, $index)" ng-class="user.favStatus ? 'favoriteStar' : 'notFavoriteStar'"></i>Favorite
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>

        </div>
        <ion-content>
</ion-view>