<ion-view class="profile-view forms-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>
          </pre-img>
        </div>
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div>
      </div>
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <ul class="list list-padding">
            <div class="item item-divider profile-header-color">Food Truck Profile</div>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Food Truck Name</span>
                <!--<input type="text" name="truckName" required placeholder="Enter The Name Of Your Food Truck" ng-model="truck.truckName">-->
                <input type="text" name="truckName" required placeholder="Enter The Name Of Your Food Truck" ng-model="truck.truckName">             
            
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Address</span>
                <input type="text" name="address" required placeholder="Enter Your Address" ng-model="truck.address">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Business Phone</span>
                <input type="tel" name="phone" required placeholder="Enter Your Business Telephone Number" ng-model="truck.phone">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Food Category</span>
                <input type="text" name="genre" required placeholder="Enter Your Food Category (Italian, Mexican, Ice Cream etc.)" ng-model="truck.genre">
            </label>
            <label class="item item-input item-select">
                <div class="input-label input-padding">Price Point</div>
                <select name="price" required ng-model="truck.price">
                    <option>$</option>
                    <option selected>$$</option>
                    <option>$$$</option>
                    <option>$$$$</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Website</span>
                <input type="text" name="website" required placeholder="Enter Your website (If applicable)" ng-model="truck.website">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Business Logo</span>
                <input type="text" name="image" required placeholder="Enter Your Logo" ng-model="truck.imgUrl">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label input-padding-left">Short Description</span>
                <input type="text" name="description" required placeholder="Enter a short description about your Food Truck" ng-model="truck.description">
            </label>
         </ul>
         <button class="button button-block button-positive profile-button" ng-click="submitProfile()">
            Submit
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>