Truck Profile View
<br>
<img ng-src="{{truck.imageUrl}}" placeholder="Image URL"/>
<br>
<input type="text" ng-model="truck.name" placeholder="Truck name">
<br>
<input type="email" ng-model="truck.email" placeholder="Email">
<br>
<input type="password" ng-model="truck.password" placeholder="Password">
<br>

<input type="text" ng-model="truck.phone" min-length="7" max-length="10" placeholder="Phone number">
<br>
<input type="text" ng-model="truck.website" placeholder="Website">
<br>
<input type="text" ng-model="truck.genre" placeholder="Enter Food Type">
<br>
<!--I didn't see a place for a descriptive blurb about the truck, should we have one? -->
<textarea ng-model="truck.description" min-length="1" placeholder="Enter truck description"></textarea>
<br>
<input type="text" ng-model="truck.price" placeholder="Price Point">
<br>
$ 0-5, $$ 5-10, $$$ 10-15, $$$$
<br>

<!--<button type="button" class="btn btn-primary" ng-click="updateThisTruck()">Submit</button>-->
