/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}


.item-toggle {
    margin: 20px 20px 0 0;
    /*height: 120px;*/
    width: 230px;
    position: fixed;
    right: 0;
    z-index: 999;
    background: #fff;
    border: 1px solid #333;
    border-radius: 20px;
}

.toggle {
    top: 10px;
    right: 16px;
    z-index: 99999;   
    cursor: pointer;
}

.list-view-btn {
    margin: 100px 20px 0 0;
    position: fixed;
    background: #fff;
    border: 1px solid #333;
    border-radius: 18px;
    z-index: 999;
    right: 0;
    width: 110px;
    height: 45px;
    cursor: pointer;
}

    .list-view-btn h5 {
        text-align: center;
        margin: 12px 0 0 0;
        font-size: 16px;
        font-weight: 400;
    }